@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
  background-position: center;
  background-size: cover;
  color: #fff;
  font-family: 'Josefin Sans';
}

body::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: url('../../../assets/spring-expanded.jpg') center / cover no-repeat;
  filter: blur(3px) brightness(88%);
  z-index: -1;
}

.adam-reed-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubble {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
