@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

h1 {
  font-weight: 300;
  line-height: 2.5rem;
  font-family: 'Josefin Sans';
  /* opacity: 0; Start hidden */
}

h2 {
  font-family: 'Josefin Sans';

}
