@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.test-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  /* background-image: url('../../../assets/MORPH_COVER.jpg'); */
  /* background-position: center; */
  /* background-size: cover; */
  /* transition: background-size 0.5s ease, background-position 0.5s ease; */
  overflow: hidden;
  font-family: 'Josefin Sans';
}

.test-container-zoomed {
  background-size: 250% 250%;
  background-position: 50% 50%;
}

.svg-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: auto;
  z-index: 2;
}

#camera-path {
  transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out;
}

#camera-path:hover {
  stroke: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.first-image, .second-image {
  object-position: center;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.first-image {
  /* transition: transform 0.3s ease-in-out, opacity 1.2s ease-in-out; */
  opacity: 1;
}

.second-image {
  /* transition: opacity 0.5s ease-in-out; */
  opacity: 0;
  transform: scale(1.2);
}

#title-text {
  font-size: 4rem;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, 10%);
  z-index: 2;
  color: #fff;
  transition: opacity 0.3s;
}

.text-content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#mirror-info {
  position: absolute;
  top: 40%;
  right: 22%;
  z-index: 1;
  color: #fff;
  font-size: 1.5rem;
}
