@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

body::-webkit-scrollbar {
  display: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  font-family: 'Josefin Sans';
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-family: 'Josefin Sans';
}

a {
  text-decoration: none;
  color: inherit;
}

.scroll-container {
  height: 1000vh;
  width: 100vw;
  position: relative;
  box-sizing: border-box;
  /* opacity: 0.5; */
}

.initial-image-container {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: sticky;
  top: 0;
  perspective: 1000px;
}

.initial-image {
  height: 100%;
  width: 100%;
  transform-origin: center center;
  z-index: 1;
  object-fit: cover;
  object-position: center;
}

.title-container, .subtitle-container {
  width: 100%;
  position: absolute;
  text-align: center;
  transform-style: preserve-3d;
  z-index: 10;
}

.title-container {
  top: 10%;
}

.subtitle-container {
  bottom: 20%;
}

.svg-overlay-container {
  display: none;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  z-index: 2;
  transform: scale(1.2);
  perspective: 1000px;
}

.svg-overlay-test {
  height: 100%;
  width: 100%;
  transform-origin: center center;
}

.further-info-container {
  backdrop-filter: blur(5px);
  position: absolute;
  border: solid 1px #ffeadb;
  border-radius: 8px;
  padding: 70px 30px;
  top: 50%;
  left: 50%;
  z-index: 10;
  opacity: 1;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%);
  text-align: center;
}

.further-info-container h2, p {
  font-family: 'Josefin Sans';
  color: #ffeadb;
  font-weight: 300;
  z-index: 10;
  transform-style: preserve-3d;
}

.further-info-container h2 {
  font-size: 1.75rem;
}

.further-info-container p {
  font-size: 0.85rem;
  font-weight: 800;
}

.test-circle {
  opacity: 0;
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border-radius: 50%;
}

.test-circle:hover {
  cursor: pointer;
}

.content-container {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 20;
  opacity: 0;
}

.content-container-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200vw;
  object-fit: cover;
  object-position: center;
}

.profile-scroll-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping */
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 100;
  /* padding: 0 100px; */
  box-sizing: border-box;
}

.profile-container {
  width: 33vw;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  flex: 0 0 33vw;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}


.profile-image {
  height: 300px;
  width: 300px;
  margin-bottom: 10px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
